<!DOCTYPE html>
<html lang="en">
<!-- ============================================================================================-->
<!-- **psstt** This is a secret page. You're not supposed to see this code! -->
<!-- Go away! Last Warning! -->
<!-- DAMN! You're a badass. -->
<!-- Using minimal css framework: http://github.com/miteshninja/sakura -->
<!-- ============================================================================================-->
<head>
    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Information -->
    <title>{% block title %}{{ site_name }}{% endblock %}</title>

    <!-- Assets -->
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/sakura.css" async>
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/custom.css" async>
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/pygments.css" async>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<header id="site-header">
    <nav id="site-nav">
    <ul>
        <li><strong><a href="{{ site_baseurl }}/" class="sakura-blossom no-border fancy-font" id="site-name">{{ site_name }}</a></strong></li>
        <li><small><a class="fancy-font sakura-fade no-border" href="{{ site_baseurl }}/wisdom/">wisdom</a></small></li>
        <!-- <li><a class="fancy-font sakura-fade no-border" href="{{ site_baseurl }}/about/">about</a></li> -->
    </ul>
    </nav>
</header>
<main>
{%- block body -%}{{content}}{%- endblock -%}
</main>
<footer id="site-footer">
    <ul>
        <li><small><a class="fancy-font sakura-fade no-border" href="{{ site_baseurl }}/about/">about</a></small></li>
        <li><small><a class="fancy-font sakura-fade no-border" href="{{ site_baseurl }}/rss/">rss</a></small></li>
    </ul>
</footer>
</body>
</html>
